* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  width: 75vw;
  margin: 15px 0;
  margin-right: 15px;
  position: relative;
}

.home {
  padding: 10px;
}

.home ul li {
  display: flex;
  gap: 14px;
  width: 18px;
  list-style-type: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading li {
  display: flex;
  gap: 14px;
  width: 20px;
  font-weight: bold;
  align-items: center;
  white-space: nowrap;
  padding-top: 4px;
  padding: 10px 4px;
  font-size: 16px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 11px;
  color: grey;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.footer a {
  color: grey;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  color: bisque;
  font-weight: bold;
}

.header li {
  display: flex;
  gap: 14px;
  width: 20px;
  font-weight: bold;
  align-items: center;
  white-space: nowrap;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: rgb(32, 32, 32);
  border-radius: 7px;
}

.header > * {
  padding: 15px;
}

.musica-playlists {
  display: flex;
  font-weight: bold;
  color: bisque;
  font-size: 18px;
  margin-top: 12px;
  margin-left: 12px;
  position: relative;
  left: 0;
}

.card {
  width: 200px;
  height: 260px;
  background: rgb(32, 32, 32);
  border-radius: 7px;
  margin-left: 12px;
  margin-top: 12px;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 184px;
  object-fit: contain;
  padding: 8px;
}

.cardContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 70vh;
}

.play {
  display: flex;
  position: absolute;
  top: 155px;
  right: 10px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card:hover .play {
  opacity: 1;
  transform: translateY(0);
}

.buttons > * {
  margin: 0 12px;
}

.signupbtn {
  background-color: rgb(32, 32, 32);
  color: rgb(183, 183, 183);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
}

.signupbtn:hover {
  color: white;
  font-size: 15px;
  transition: 0.5s, transform 0.5s ease-out;
}

.loginbtn {
  background-color: bisque;
  color: black;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 14px;
  padding: 5px;
  width: 60px;
  height: 30px;
}

.loginbtn:hover {
  font-size: 15px;
  color: black;
  transition: 0.5s, transform 0.5s ease-out;
  width: 80px;
}

.playbar {
  position: absolute;
  bottom: 0;
  background-color: bisque;
  color: black;
  width: 98.7%;
  padding: 8px;
  border-radius: 7px;
}

.songbuttons {
  justify-content: center;
  display: flex;
  gap: 25px;
}

.songlist {
  height: 700px;
  overflow: auto;
  margin-bottom: 44px;
}

.songlist ul li {
  list-style-type: decimal;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 13px;
  border: 1px solid rgba(146, 143, 143, 0.491);
  margin: 12px 0;
  border-radius: 5px;
  justify-content: space-between;
}

.songlist ul {
  padding: 0 12px;
  margin-right: 20px;
}

.song-item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  justify-content: space-between;
}

.song-item img {
  width: 32px;
  height: 32px;
}

.song-item .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  text-align: left;
  margin-left: 10px;
}

.song-item .play-button {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  cursor: pointer;
  margin-left: auto;
}
